
/* ----------------------------------------------------
	You can put your custom css code here:
-------------------------------------------------------*/
.product__small__images .pot-small-img.active a{
    border: 3px solid #f1b0b7;
}
